/* Barra de navegación */
.navbar-brand strong {
  letter-spacing: .5px
}

/* Links en footer */
footer a {
  text-decoration: none
}

footer a:hover {
  text-decoration: underline
}

/* Formularios */
form .form-control {
  background-color: #0e0f13;
  border-color: #2A2E36;
  color: var(--brand-text)
}

form .form-control:focus {
  border-color: var(--brand-primary);
  box-shadow: none
}

/* ======== CONTENIDO PRINCIPAL ======== */
main {
  color: white;
  justify-content: center;
}